@keyframes scrollReviews {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.scrollTrack {
    animation: scrollReviews 50s linear infinite;
    display: flex;
    width: max-content;
    gap: 1rem;

    @media (max-width: 640px) {
        animation: none;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding-left: 1rem;
    }
}

.paused:hover {
    animation-play-state: paused !important;
}

.reviewCard {
    flex-shrink: 0;
    scroll-snap-align: start;
    border-radius: 0.5rem;
    background-color: white;
    padding: 1.5rem;
    transition: box-shadow 0.3s;
    margin-right: 1rem;
    width: 83vw;

    @media (min-width: 640px) {
        width: 320px;
    }

    @media (min-width: 1024px) {
        width: 600px;
    }
}

/* Optional scrollbar hide utility */
.scrollbarHide {
    -ms-overflow-style: none;
    /* IE/Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbarHide::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari */
}